.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed;
}

body {
  background-color: var(--main-bg-color);
}

h1 {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 157px;
  font-style: normal;
  line-height: 82.5%; /* 129.525px */
}

h2,
h3 {
  color: var(--main-elements-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-text-size);
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

h4 {
  color: var(--main-theme-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-text-size);
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

p {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-text-size);
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--second-theme-color);
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus-visible {
  border: 1px solid var(--text-color);
}

.text-decoration {
  color: var(--main-theme-color);
  background-color: var(--text-bg-color);
}

button {
  color: var(--main-elements-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-text-size);
  font-style: normal;
  line-height: 18px; /* 100% */
  text-align: center;
}

a:focus,
button:focus {
  outline: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--screen-padding, 20px);
  right: var(--screen-padding, 20px);
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--main-elements-color);
  border-right: 1px solid var(--main-elements-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--screen-padding, 20px);
  left: var(--screen-padding, 20px);
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--main-elements-color);
  border-left: 1px solid var(--main-elements-color);
}

.slogan {
  color: var(--slogan-color);
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  height: 100vh;
  margin: auto;
  padding: var(--screen-padding, 20px);
  background: center / auto 100% no-repeat var(--main-bg-image);
}

.header__decor {
  position: absolute;
  top: var(--screen-padding, 20px);
  right: var(--screen-padding, 20px);
  display: flex;
  color: var(--decor-color);
  text-transform: uppercase;
}

.header__decor::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 8px 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  filter: drop-shadow(0px 0px 4px var(--decor-color));
}

.header__theme-menu-list {
  display: flex;
  gap: 11px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 12px;
  color: var(--main-elements-color);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-elements-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(from var(--main-elements-color) r g b / 40%);
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-elements-color);
  pointer-events: none;
}

.header__slogan {
  align-self: flex-start;
  margin-inline-start: calc(0px - var(--screen-padding));
  margin-block-start: 275px;
  text-shadow: 4px 4px 0px var(--slogan-shadow-color);
}

.header__text {
  align-self: flex-end;
  margin-block-start: 114px;
  max-inline-size: 50%;
  white-space: pre-line;
}

/* header end */

/* main */
.content-item__section-header-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.section-header {
  width: clamp(236px, 100%, 315px);
}

.container-vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-horizontal {
  display: grid;
  gap: 20px;
  grid-template: auto / 1fr 1fr 1fr;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  max-width: var(--max-width);
  margin: 60px auto;
}

.content-item {
  width: 100%;
  padding: 0 var(--screen-padding, 20px);
}

.content-item_vertical_blocks {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.content-item_horizontal_blocks {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.card-header {
  margin-bottom: 10px;
}

.pictures-header {
  margin-bottom: var(--screen-padding, 20px);
}

.pictures-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "pic_1 pic_1 pic_2"
    "pic_3 pic_4 pic_2"
    "pic_3 pic_5 pic_5";
  gap: var(--screen-padding, 20px);
}

.picture {
  width: 100%;
  height: 100%;
}

.pic_1 {
  grid-area: pic_1;
  height: clamp(192px, -12px + 26.5625vw, 260px);
  background: center / cover no-repeat url(/images/sunset.png);
}
.pic_2 {
  grid-area: pic_2;
  height: clamp(441px, -21px + 60.1563vw, 595px);
  background: center / cover no-repeat url(/images/ice-cream.png);
}
.pic_3 {
  grid-area: pic_3;
  height: clamp(558px, -32px + 78.125vw, 768px);
  background: center / cover no-repeat url(/images/tape.png);
}
.pic_4 {
  grid-area: pic_4;
  height: clamp(230px, -25px + 33.2031vw, 315px);
  background: center / cover no-repeat url(/images/books.png);
}
.pic_5 {
  grid-area: pic_5;
  height: clamp(318px, -12px + 42.9688vw, 428px);
  background: center / cover no-repeat url(/images/street.png);
}
/* main end */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  margin: auto;
  padding: 20px;
}

.footer__slogan {
  text-shadow: 2px 2px 0px var(--slogan-shadow-color);
}

@media (width < 1024px) {
  .header__theme-menu {
    align-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .container-horizontal {
    grid-template: auto auto auto / 100%;
  }

  .content-item_vertical_blocks {
    gap: 20px;
  }
}

@media (768px <= width < 1024px) {
  /* header */
  h1 {
    font-size: 120px;
  }

  .header__theme-menu {
    margin-block-start: 170px;
  }

  .header__slogan {
    margin-block-start: 175px;
  }

  .header__text {
    margin-block-start: 162px;
  }
  /* header end */

  /* main */
  .container-horizontal {
    grid-template: auto auto auto / 100%;
  }
  /* 
  .pictures-wrap {
    grid-template-columns: repeat(3, 229px);
    grid-template-rows: 190px 230px 318px;
  } */
  /* main end */
}

@media (375px <= width < 768px) {
  :root {
    --screen-padding: 10px;
  }

  h1 {
    font-size: 116px;
  }

  /* header */
  .header__theme-menu {
    margin-block-start: 64px;
  }

  .header__slogan {
    margin-inline-start: 0;
    margin-block-start: 67px;
  }

  .header__text {
    margin-block-start: 55px;
    max-inline-size: 100%;
  }
  /* header end */

  /* main */
  .content-item__section-header-wrap {
    grid-template-columns: 1fr;
  }

  .content {
    gap: 50px;
    margin: 40px auto;
  }
  .section-header {
    width: 100%;
  }

  .content-item_vertical_blocks {
    grid-template-columns: auto;
  }

  .container-horizontal {
    grid-template: auto auto auto / 100%;
  }

  .pictures-wrap {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "pic_1"
      "pic_2"
      "pic_3"
      "pic_4"
      "pic_5";
  }

  .pic_1 {
    height: 142px;
  }
  .pic_2 {
    height: 355px;
  }
  .pic_3 {
    height: 237px;
  }
  .pic_4 {
    height: 355px;
  }
  .pic_5 {
    height: 237px;
  }
  /* main end */
}
