:root {
  --main-font: "IBM Plex Mono", sans-serif;
  --screen-padding: 20px;

  --max-width: 1024px;
  --main-text-size: 18px;

  --main-bg-image: url("../images/cover-image-dark.png");

  --main-theme-color: #000028;
  --accent-color: #ff0070;

  --slogan-color: #db00ff;
  --slogan-shadow-color: #ff0070;

  --main-bg-color: var(--main-theme-color);
  --text-bg-color: var(--accent-color);
  --main-elements-color: var(--accent-color);
  --text-color: #f1b2ce;

  --decor-color: var(--main-elements-color);

  --dark: #000028;
  --neon-pink: #ff0070;
  --pale-pink: #f1b2ce;
  --neon-purple: #db00ff;

  --gray: #353430;
  --pastele-pink: #ffc2e6;
  --pink: #ff8dcb;
  --beige: #fff1f7;
}
